[Unit]
Description=Python3 aqara / Xiaomi Home service
After=docker-mosquitto.service
Requires=docker-mosquitto.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill aqara
ExecStartPre=-/usr/bin/docker rm aqara
ExecStart=/usr/bin/docker run --rm \
                                   --net host \
                                   -v /var/opt/docker/aqara/:/app/config \
                                   --name aqara \
                                   seblucas/alpine-aqara
StandardOutput=null
StandardError=null
ExecStop=-/usr/bin/docker stop aqara

[Install]
WantedBy=multi-user.target
