[Unit]
Description=Traefik - HTTP Reverse proxy
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill traefik
ExecStartPre=-/usr/bin/docker rm traefik
ExecStart=/usr/bin/docker run --rm \
                                   -v /var/run/docker.sock:/var/run/docker.sock \
                                   -v /var/opt/docker/traefik/traefik.toml.https:/traefik.toml \
                                   -v /var/opt/docker/traefik/acme.json:/acme.json \
                                   -p 80:80 \
                                   -p 443:443 \
                                   -p 8080:8080 \
                                   --label traefik.enable=false \
                                   --name=traefik \
                                   seblucas/alpine-traefik
StandardOutput=null
StandardError=null
ExecStop=-/usr/bin/docker stop traefik

[Install]
WantedBy=multi-user.target
